name: 'coverage'
on:
  push:
    branches:
      - '**'

jobs:
    test-coverage:
      runs-on: ubuntu-latest
      name: test coverage update
      steps:
        - name: Checkout
          uses: actions/checkout@v2

        - name: Coverage report
          uses: eleboys/test-coverage-report-action@v1.0.2
          id: report
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            path: coverage/coverage-summary.json
            title: Karma Test Coverage

        - name: Print the output summary
          run: echo "Report coverage json ${{ steps.report.outputs.summary }}"